.header {
  display: flex;
  gap: 10px;
  width: 1220px;
  margin: 4% auto;
  border-radius: 14px;
  background: #fff;
  justify-content: center;
  padding: 20px 0;
}

.header h1 {
  color: var(--primaty-black, #000);
  font: 400 26px Dela Gothic One;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 54px;
}
